@import "./auth.scss";
@import "./common.scss";
@import "./company_pages.scss";
@import "./courses.scss";
@import "./direct_messages.scss";
@import "./form_elements.scss";
@import "./photos.scss";
@import "./friendships.scss";
@import "./rounds.scss";

// Bulma color variables
$aqua: hsl(165, 35%, 50%);
$army-green: hsl(120, 20%, 50%);
$washed-yellow: hsl(60, 80%, 75%);
$burnt-red: hsl(0, 40%, 50%);
$deep-blue: hsl(240, 50%, 50%);
$light-blue: hsl(195, 55%, 50%);

$primary: $aqua;
$success: $army-green;
$warning: $washed-yellow;
$danger: $burnt-red;
$link: $deep-blue;
$info: $light-blue;

// Bulma components
$navbar-breakpoint: 500px;

@import "~bulma";
