@import "./auth.scss";
@import "./common.scss";
@import "./company_pages.scss";
@import "./courses.scss";
@import "./direct_messages.scss";
@import "./form_elements.scss";
@import "./photos.scss";
@import "./friendships.scss";
@import "./rounds.scss";

// Bulma color variables
$aqua: hsl(160, 100%, 40%);
$maximum-green: hsl(101, 48%, 37%);
$mustard: hsl(48, 93%, 64%);
$deep-chestnut: hsl(0, 40%, 50%);
$liberty: hsl(240, 31%, 48%);
$pacific-blue: hsl(192, 49%, 52%);

$primary: $aqua;
$success: $maximum-green;
$warning: $mustard;
$danger: $deep-chestnut;
$link: $liberty;
$info: $pacific-blue;

// Bulma components
$navbar-breakpoint: 0;

@import "~bulma";
