body {
  min-height: 100vh;
  background-color: #495049;
  background-image: url("/background.jpg");
  background-size: cover;
}

#app-container {
  position: relative;
  margin: 0 auto;
}

.site-nav {
  position: absolute;
  flex-wrap: wrap;
  top: 0;

  padding: 6px 0;
  .navbar-brand {
    position: relative;

    min-height: 0px;
    height: 44px;
    margin-left: 6px;

    * {
      height: 44px;
    }
    .navbar-logo {
      width: 44px;
    }
    .navbar-company-name {
      display: inline-block;
      position: relative;

      top: -7px;
      padding-left: 8px;

      font-size: 28px;
      font-weight: 600;
      text-decoration: none;
      color: #ddd;
    }
  }
  .button,
  .navbar-item {
    margin: auto 6px;
  }
  .new-scorecard-button {
    position: absolute;

    top: 62px;
    right: 0;
  }
  .add-a-friend-button {
    position: absolute;

    top: 62px;
    right: 168px;
  }
  .nav-mail-icon {
    height: 20px;
    margin: 0 6px;
  }
  .nav-user-icon {
    height: 22px;
    margin-right: 5px;
  }
}

.home-page {
  .search-courses {
    max-width: 55%;
    min-width: 40%;

    margin: 35vh auto;
    .controls {
      display: flex;
      justify-content: space-between;
      .text-field {
        width: 100%;
        margin-right: 8px;
      }
      * {
        height: 55px;
        font-size: 22px;
      }
    }
  }
}

#app-body {
  min-height: 100vh;

  padding: 75px;
}

.navbar.footer-nav {
  justify-content: center;

  background-color: transparent;
}

.dashboard {
  background-color: #d9d9d9 !important;
}

.dashboard-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  .box,
  .card {
    height: 400px;
    overflow-y: auto;
    min-width: 364px;
  }
  .card {
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
      0 0px 0 1px rgba(10, 10, 10, 0.02);
  }
  .my-rounds {
    .title {
      padding-left: 12px;
    }
    table {
      width: 100%;
      td {
        max-width: 100px;
        padding: 8px 4px;

        text-overflow: ellipsis;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    padding: 20px 8px;
  }
}

.loading-screen {
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loading-screen-text {
    margin-bottom: 15px;

    color: #333;
    font-weight: 700;
    font-size: 55px;
  }
  .loading-screen-logo {
    height: 220px;
    width: 220px;
  }
}

.file-name {
  height: auto !important;
  width: 100%;
  padding: 0;
  font-size: 11px;
  white-space: normal;
  * {
    margin: 7px 16px;
  }
}

.gm-style-iw {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.uppercase {
  text-transform: uppercase;
}

.delete-button {
  height: 20px;
  width: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #e82917;
  border-radius: 3px;
  color: #e82917;
  background-color: #f57c71;
  cursor: pointer;

  font-size: 12px;
  line-height: 12px;
}

.search-users {
  max-width: 600px;
  width: 50vw;
  .search-result {
    margin-top: 12px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .username {
      margin-top: 12px;
      margin-left: 12px;
    }
  }
}

@media only screen and (max-width: 815px) {
  #app-body {
    padding: 0;
    min-height: 60vh;
  }

  .dashboard {
    border-radius: 0 !important;
  }

  .dashboard-controls {
    .card,
    .box {
      margin-top: 25px;
      margin-bottom: 0 !important;
      min-height: 0;
      min-width: 335px;
    }
  }

  .navbar-end {
    position: relative;
    width: 100vw;

    margin-top: 8px;
    flex-wrap: wrap;
    justify-content: center !important;
    .button,
    .navbar-item {
      width: 45vw;
      margin: 3px 5px;
    }
    .navbar-item {
      justify-content: center;
      order: 1;
    }
  }

  .my-friends > .table {
    min-width: 100% !important;
  }

  .add-a-friend-button,
  .new-scorecard-button {
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
  }
  .home-page {
    width: 100vw;
    display: flex;
    justify-content: center;
    .search-courses {
      max-width: 95vw;
      margin: 25% 0;
      .controls {
        width: 100%;
        flex-wrap: wrap;
        .field {
          margin-right: 0;
          width: 100%;
          .button {
            width: 100%;
          }
        }
      }
    }
  }
  .search-users {
    .search-result {
      flex-direction: column;
    }
  }
  .footer {
    display: none;
  }
}
