body {
  min-height: 100vh;
  background-color: #495049;
}

#app-container {
  margin: 0 auto;
}

.site-nav {
  padding: 6px 0;
  .navbar-brand {
    position: relative;

    min-height: 0px;
    height: 44px;
    margin-left: 6px;

    * {
      height: 44px;
    }
    .navbar-logo {
      width: 44px;
    }
    .navbar-company-name {
      display: inline-block;
      position: relative;

      top: -7px;
      padding-left: 8px;

      font-size: 28px;
      font-weight: 600;
      text-decoration: none;
      color: #ddd;
    }
  }
  .button,
  .navbar-item {
    margin: auto 6px;
  }
  .new-scorecard-button {
    position: absolute;

    top: 62px;
    right: 0;
  }
  .nav-mail-icon {
    height: 20px;
    margin: 0 6px;
  }
  .nav-user-icon {
    height: 22px;
    margin-right: 5px;
  }
}

.home-page {
  .sitewide-searchbar {
    max-width: 66%;
    min-width: 45%;

    margin: 350px auto;
    .input {
      height: 54px;
      font-size: 24px;
    }
  }
}

#app-body {
  min-height: 100vh;

  padding: 75px;
}

.navbar.footer-nav {
  justify-content: center;

  background-color: transparent;
}

.signup-form-container,
.auth-prompt {
  width: 400px;
  margin: 0 auto;

  text-align: center;
  .label {
    text-align: left;
  }
  .button {
    margin: 12px 0 20px;
  }
}

.company-page {
  max-width: 800px;
  margin: 25px auto;

  .contact-submit-button {
    margin-top: 6px;
  }
}

.inbox {
  height: 80vh;
  display: flex;
  .select-direct-messages,
  .selected-direct-message {
    overflow-y: auto;
  }
  .select-direct-messages {
    width: 400px;
    border-right: 2px solid #d9d9d9;
    padding-right: 16px;
    padding-left: 8px;
    .select-dm {
      cursor: pointer;
      padding: 10px;
      display: flex;
      align-items: center;
      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
    overflow-x: hidden;
  }
  .no-dm-selected {
    margin: 30px auto;

    font-size: 53px;
    font-weight: 700;
    text-align: center;
    .select-arrow {
      margin: -22px auto 0;

      height: 120px;
      width: 240px;
    }
  }
  .selected-direct-message {
    position: relative;

    width: 80%;
    padding: 0 160px;
    .show-direct-message {
      .image {
        margin: 0 auto;
      }
      .discussion {
        display: flex;
        flex-direction: column;
      }
      .subject,
      .direct-message-partner {
        text-align: center;
      }
      .subject {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 12px;
      }
      .direct-message-partner {
        font-size: 36px;
      }
      .message {
        margin: 6px;
        align-self: flex-start;
        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 100%;
          .message-text {
            max-width: 400px;
            padding-bottom: 15px;

            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
          }
        }
      }
      .current-user {
        align-self: flex-end;
        background-color: #669966;
        color: #f5f5f5;
      }
    }
    .new-message-form {
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;

      width: 100%;

      margin: 0 auto;
      padding: 5px 10px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      background-color: white;

      #error-window {
        width: 100%;
      }
      button {
        position: relative;
        bottom: 2px;

        height: 40px;
        width: 120px;
        margin-left: 12px;
      }
      .text-field {
        flex: 1;
      }
    }
  }
}

.new-direct-message {
  min-width: 340px;
  .mail-icon {
    height: 20px;
    width: 20px;

    margin-right: 5px;
  }
}

.highlight-unread {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  background-color: #bfbfbf;
}

.loading-screen {
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loading-screen-text {
    margin-bottom: 15px;

    color: #333;
    font-weight: 700;
    font-size: 55px;
  }
  .loading-screen-logo {
    height: 220px;
    width: 220px;
  }
}

.upload-profile-picture {
  max-height: 800px;
  width: 250px;

  padding-top: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
  .profile-picture-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .file {
      width: 130px;

      margin-bottom: 10px;
    }
    .file-name {
      font-size: 11px;
    }
  }
}

// Bulma color variables
$army-green: hsl(120, 20%, 50%);

$success: $army-green;
