.my-friends {
  .table {
    min-width: 340px;
  }
  .section-heading {
    background-color: #e6e6e6;
  }
  .new-friend-request {
    background-color: #d1e0d1;
  }
  .sent-friend-request {
    background-color: #e8c9c9;
  }
  .button {
    margin: 0;
  }
  .delete-button {
    margin-right: 30%;
    margin-top: 14px;
  }
}

.add-a-friend {
  max-width: 600px;
  margin: 32px auto;
  .options {
    margin: 40px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    .option-button {
      max-width: 330px;
      margin-top: 16px;
      height: 54px;
    }
    .search-users {
      width: 300px;
    }
  }
}

.send-friend-request {
  width: 60vw;
  height: 70vh;

  margin: 0 auto;
  text-align: center;

  .title {
    margin-top: 80px;
  }

  .button {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 815px) {
  .send-friend-request {
    margin-top: 40px;
    width: 95vw;
    height: auto;

    .title {
      margin-top: 0px;
    }
  }
}
