<p>Welcome to weThrow, <%= @user.name %>!</p>

<p>I'm honored to be able to bring you this app. May it be a helpful tool in your disc golf bag. Enjoy your stay, and thanks for trying out weThrow! Feel free to add your own courses, leagues, tournaments and discs!</p>

<p>-Andy Holt</p>

<p><%= link_to 'Click here to get started.', (root_url + "confirm?token=" + @token) %></p>
