<p>Hey there, <%= @user.name %>!</p>

<p>Looks like you forgot your password. No worries, click the link below to change it!</p>

<p><%= link_to 'Change my password', (root_url + "change_password?token=" + @token) %></p>

<p>If you didn't ask us to change your password, you can ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
