<!DOCTYPE html>
<html>
  <head>
    <title>weThrow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <noscript>Your browser doesn't support JavaScript. Enable JavaScript and refresh the page!</noscript>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
